body {
    margin: 0;
    color: #5643fd;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

}

.title {
    text-shadow: 0 0 4px white;
}

.hero {
    background-image: url("../images/colorful-stars.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

.main-logo {
    width: 200px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    color: #5643fd;
    font-weight: 800;
    text-shadow: -2px 1px 0px #1d1135;
}

.underline {
    border-bottom: 4px solid white;
}

.f-shadow {
    text-shadow: -1px 0px black;
}
   